.mainSection {
  min-height: 66rem;
  background: url("../../assets/images/main-bg.jpg") center / cover no-repeat;

  @media (min-width: 1921px) {
    background-size: contain;
    background-position: center;
  }

  &__inner {
    width: 100%;
    height: calc(100vh - 16rem);
    margin-top: 4rem;
    padding-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;

    @media (min-width: 768px) {
      padding-bottom: 3rem;
    }

    @media (min-width: 1200px) {
      height: 100%;
      flex-direction: row;
      align-items: flex-start;
      margin-top: 11.5rem;
    }
  }

  &__btnWrap {
    display: flex;
    justify-content: center;
    position: relative;

    &::after,
    &::before {
      position: absolute;
      content: "";
    }

    &::after {
      width: 14.4rem;
      height: 0.1rem;
      bottom: -10.2rem;
      right: 26%;
      background-image: linear-gradient(to right, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 1) 100%);
      transform: rotate(90deg);
    }

    @media (min-width: 1200px) {
      justify-content: flex-start;

      &::after {
        width: 5.5rem;
        height: 0.1rem;
        top: 12.6rem;
        right: 15.5rem;
        background: rgba(255, 255, 255, 0.1);
        transform: rotate(45deg);
      }
  
      &::before {
        width: 32rem;
        height: 0.1rem;
        top: 14.7rem;
        right: -15.7rem;
        background-image: linear-gradient(to right, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 1) 100%);
      }
    }
  }

  &__btn {
    position: relative;
    margin-top: 8rem;
    font-size: 1.4rem;
    font-family: "Museo Sans Cyrl 100";
    font-weight: 100;
    color: rgba(255, 255, 255, 0.502);
    line-height: 1.2;
    padding: 0.712rem 2.7266rem;
    border: 0.1rem solid;
    border-image: url("../../assets/images/border.png") 1 stretch;
    background-color: rgba(22, 21, 29, 0.502);

    &::after,
    &::before {
      position: absolute;
      content: "";
      z-index: 100;
      width: 0.5rem;
      height: 0.5rem;
      border-top: 0.1rem solid #fff;
      border-right: 0.1rem solid #fff;
    }

    &::after {
      right: 0;
      top: 0;
    }

    &::before {
      left: -0.1rem;
      top: 85%;
      transform: rotate(180deg);
    }
  }

  .mainTitle {
    max-width: 42rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    line-height: 1.2;

    @media (min-width: 1200px) {
      text-align: left;
    }

    &__largeText {
      position: relative;
      font-family: "Museo Sans Cyrl 700";
      font-weight: 700;
      font-size: 3.6rem;
      background-image: linear-gradient(to bottom, #ff3f04, #fff);
      color: transparent;
      background-clip: text;

      @media (min-width: 1200px) {
        font-size: 5.5rem;
        background-image: linear-gradient(to left, #ff3f04, #fff);

        &::after {
          position: absolute;
          content: "";
          width: 36.7rem;
          height: 30.9rem;
          right: -33.7rem;
          top: -7.8rem;
          background: url("../../assets/images/mask4.png") center / cover no-repeat;
        }
      }
    }

    &__smallText {
      font-family: "Museo Sans Cyrl 300";
      font-weight: 300;
      font-size: 1.4rem;
      background-image: linear-gradient(to left, #ff3f04, #fff);
      color: transparent;
      background-clip: text;

      @media (min-width: 1200px) {
        font-size: 1.9rem;
      }
    }
  }

  &__advantages {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }

  &__advantagesItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    line-height: 1.2;
    cursor: pointer;

    @media (min-width: 768px) {
      padding: 0.5rem 3.9rem;
    }

    span:nth-of-type(1) {
      margin-bottom: 1.0rem;
    }

    span:nth-of-type(1),
    span:nth-of-type(3) {
      font-size: 1.8rem;
      font-family: "Museo Sans Cyrl 100";
      font-weight: 100;
      color: rgba(152, 147, 147, 0.8);
    }

    span:nth-of-type(2) {
      font-family: "Museo Sans Cyrl 700";
      font-weight: 700;
      font-size: 4rem;
      color: rgb(255, 255, 255);
    }

    .smallText {
      display: inline-block;
      font-size: 1.4rem;
      color: rgb(255, 255, 255) !important;
    }

    &:nth-of-type(1) {
      background-image: linear-gradient(to bottom right, rgba(255, 255, 255, 0.031) 0%, rgba(255, 255, 255, 0.031) 100%);
      
      &:hover,
      &:focus {
        background-image: linear-gradient(to bottom right, rgba(255, 255, 255, 0.031) 50%, rgba(255, 255, 255, 0.2) 100%);
      }
    }

    &:nth-of-type(2) {
      background-image: linear-gradient(to bottom left, rgba(255, 255, 255, 0.031) 0%, rgba(255, 255, 255, 0.031) 100%);
      
      &:hover,
      &:focus {
        background-image: linear-gradient(to bottom left, rgba(255, 255, 255, 0.031) 50%, rgba(255, 255, 255, 0.2) 100%);
      }
    }

    &:nth-of-type(3) {
      background-image: linear-gradient(to top right, rgba(255, 255, 255, 0.031) 0%, rgba(255, 255, 255, 0.031) 100%);
      
      &:hover,
      &:focus {
        background-image: linear-gradient(to top right, rgba(255, 255, 255, 0.031) 50%, rgba(255, 255, 255, 0.2) 100%);
      }
    }

    &:nth-of-type(4) {
      background-image: linear-gradient(to top left, rgba(255, 255, 255, 0.031) 0%, rgba(255, 255, 255, 0.031) 100%);

      &:hover,
      &:focus {
        background-image: linear-gradient(to top left, rgba(255, 255, 255, 0.031) 50%, rgba(255, 255, 255, 0.2) 100%);
      }
    }
  }
}

